<form action='/' enctype="multipart/form-data" method='POST'>
    <input name="file" type="file" />
    <br>
    <label>Berapa File</file>
    <input name="size" type="number" />
    <br>
    <input type="submit" value="Upload" />
</form>
